<main role="main" class="container">
    <div class="navbar">
      <a routerLink="/home">Competence</a> 
      <a class="active" routerLink="/capability">Capability</a> 
      <a href="#">Current Delivery</a>
    </div>
    <div class="jumbotron">
      <h1>Primary Skills</h1>
      <div class="flex-container card">
        <div class="card-body" style="flex-grow: 1">
        <form class="form-capability">
            <select class="form-control" name="user" ngModel required>
                <option value="" disabled selected>Select text</option>
                <option value="Employee">Java</option>
                <option value="Manager">JS</option>
                <option value="Employee">AWS</option>
                <option value="Manager">Spring</option>
                <option value="Employee">EC2</option>
                <option value="Manager">Python</option>
            </select>
            </form>
        </div>
        <div class="card-body" >
            <form class="form-capability" style="flex-grow: 1">
              <select class="form-control" name="user" ngModel required>
                  <option value="" disabled selected>Select text</option>
                  <option value="Manager">1</option>
                <option value="Employee">2</option>
                <option value="Manager">3</option>
                <option value="Employee">4</option>
                <option value="Manager">5</option>
               </select>
              </form>
              </div>
        </div>
        <div class="flex-container card">
            <div class="card-body" style="flex-grow: 1">
            <form class="form-capability">
                <select class="form-control" name="user" ngModel required>
                    <option value="" disabled selected>Select text</option>
                    <option value="Employee">Java</option>
                    <option value="Manager">JS</option>
                    <option value="Employee">AWS</option>
                    <option value="Manager">Spring</option>
                    <option value="Employee">EC2</option>
                    <option value="Manager">Python</option>
                </select>
                </form>
            </div>
            <div class="card-body" >
                <form class="form-capability" style="flex-grow: 1">
                  <select class="form-control" name="user" ngModel required>
                      <option value="Manager">1</option>
                    <option value="Employee">2</option>
                    <option value="Manager">3</option>
                    <option value="Employee">4</option>
                    <option value="Manager">5</option>
                   </select>
                  </form>
                  </div>
            </div>
            <div class="flex-container card">
                <div class="card-body" style="flex-grow: 1">
                <form class="form-capability">
                    <select class="form-control" name="user" ngModel required>
                        <option value="" disabled selected>Select text</option>
                        <option value="Employee">Java</option>
                        <option value="Manager">JS</option>
                        <option value="Employee">AWS</option>
                        <option value="Manager">Spring</option>
                        <option value="Employee">EC2</option>
                        <option value="Manager">Python</option>
                    </select>
                    </form>
                </div>
                <div class="card-body" >
                    <form class="form-capability" style="flex-grow: 1">
                      <select class="form-control" name="user" ngModel required>
                          <option value="" disabled selected>Select text</option>
                          <option value="Manager">1</option>
                        <option value="Employee">2</option>
                        <option value="Manager">3</option>
                        <option value="Employee">4</option>
                        <option value="Manager">5</option>
                       </select>
                      </form>
                      </div>
                </div>
    </div>
</main>